<h1>EDIT</h1>
<section class="new">       
        <div>
            <% if @article.errors.any? %>
                <ul>
                    <% @article.errors.full_messages.each do |message| %>
                        <li>
                            <%= message %>
                        </li>
                    <% end %> 
                </ul>
            <% end %> 
        </div>

    <%= form_with scope: :article, url: update_article_path, method: :patch, local: true do |f|%>      
        <p>
            <div class="label">
                <%= f.label :name, class:'font' %>
                <%= f.text_field :name, class:'field'%>
            </div>
            <div class="label">
                <%= f.label :age, class:'font' %>
                <%= f.text_field :age, class:'field'%>
            </div>
            <div class="label">
                <%= f.label :body, class:'font' %>
                <%= f.text_area :body, size: "30x8", class:'field' %>
            </div>
            <div class = "actions">
               <%= f.submit 'Update', class: 'button'%>
            </div>  
        </p>   
    <% end %>
</section>