<h1>Agent Details</h1>
<section class="show">  
<p><strong>Name:</strong>  <%= @article.name%></p>
<p><strong>Age:</strong>  <%= @article.age%></p>
<p><strong>Biography:</strong> <%= @article.body%> </p>
</section>
<button class ="showButton"><%= link_to 'Edit', edit_article_path %></button>
<button class ="backButton"><%= link_to 'Back', articles_path %></button>
